<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jovlan Careers</title>
</head>
<body>
    <h1>Jovlan Careers</h1>
    <img src="http://flask.sartajshomriddh.repl.co/static/banner.jpg"
    height="320">
    <h2>About Jovlan</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et malesuada fames ac turpis egestas. Gravida rutrum quisque non tellus orci ac. Neque convallis a cras semper auctor. Gravida cum sociis natoque penatibus et. Cras adipiscing enim eu turpis. Dignissim sodales ut eu sem integer vitae justo eget magna. Quis varius quam quisque id diam. Sit amet justo donec enim diam vulputate ut pharetra. Odio ut enim blandit volutpat maecenas volutpat. At volutpat diam ut venenatis tellus in metus vulputate. Sed enim ut sem viverra aliquet eget sit amet. Sed faucibus turpis in eu mi bibendum neque. Dui sapien eget mi proin sed libero enim sed faucibus.</p>
    
</body>
</html>